# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
ignore/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
source/
documentation/
mobile/
ARCHITECTURE.md
Makefile
deploy.sh
update.sh
docker/data/
prisma/generated/
